@model Persona

@{
    ViewData["Title"] = "Pagina principal";

    DateTime hoy = DateTime.Now;

    var nombres = new List<string>() { "Felipe", "Claudia", "Robert" };
}

<div class="text-center">

    <ul>
        @foreach (var nombre in nombres)
        {
            <li>
                @nombre
            </li>
        }
    </ul>

    <h1 class="display-4">Soy @Model.Nombre.ToLower() (@Model.Edad)</h1>
    <h4>@hoy.ToString("dd/MM/yyyy hh:mm:ss tt")</h4>

    @if (Model.Edad >= 18)
    {
        <h4>Eres mayor, puedes pasar <button>Entrar</button> </h4>
    }
    else
    {
        <h4>Eres menor <button>Salir</button> </h4>
    }

    <h2>Soy un desarrollador back end especializado en tecnologias .NET</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <img id="foto"
         src="~/imagenes/foto.jpg" alt="Foto de Yhamil" />

</div>
