@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Yhamil Mansilla</h1>
    <h2>Un desarrollador full stack especializado en tecnologias .NET y Java </h2>

    <img id="foto" src="~/img/foto.jpg" alt="foto de Yhamil"/>
</div>
